@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #3498db, #2c3e50);
  padding: 40px 0;
}

.login-container {
  background: #fff;
  padding: 40px 35px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 340px;
  text-align: center;
  max-height: 90vh;
  overflow-y: auto;
}


.login-container h2 {
  margin-bottom: 25px;
  color: #333;
  font-weight: 500;
}

.login-container label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type='email'] {
  width: 100%;
  padding: 10px 8px;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  font-size: 15px;
  transition: border-color 0.3s;
  background: transparent;
}

.login-container input:focus {
  border-bottom-color: #3498db;
}

.login-container button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #2c3e50;
}

.login-container ul {
  color: red;
}

@media (max-width: 400px) {
  .login-container {
    width: 90%;
    padding: 30px 25px;
  }
}
